/* width */
::-webkit-scrollbar {
  width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
  background: white;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #b48c64;
  border-radius: 10px;
  }
  /* cursor */
  body {
    cursor: url('./assets/img/icons8-cursor-30.png'), auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }